@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    min-width: 320px;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    color: black;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  
  main {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

*{
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    border: 1px solid #141414;
}
input{
    
   
    border: 1px solid #141414;
    border-radius: 5px;
}
button{
    padding: 10px;
   
    border: 1px solid #141414;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.addItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
   
}

 .itemList{
  display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    
 }
 .itemList li{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
 }
 nav{
  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;
  top: 0;
  width:100% ;
  left: 0;

 }
 .navBar{
  display: flex;
  flex-direction: row;
  flex: 1;
 }
 .navBar li:last-child{
  margin-left: auto;
 }
